*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
}

header{
  background-color: black;
  height: 4rem;
}

.header-black{
  background-color: #DD1A1A;
  height: 2.5rem;
}

.white-circle{
  background-color: white;
  border: 7px solid black;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
}

.black-circle{
  background-color: #212121;
  border: 5px solid black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}